.container {
    display: flex;
    flex-direction: column;

    .tree {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        mat-tree {
            margin-bottom: 25px;
        }

        button[mat-stroked-button] {
            width: 110px;
        }
    }
}

.warn {
    color: var(--pbydb-warn);
}

.sql {
    min-width: 100%;
    min-height: 200px;

    &[readonly] {
        background-color: #EEE;
        color: #666;
        cursor: default;
    }
}

tr.mat-header-row {
    position: sticky;
    top: 0;
}

$widths: (
    "w2-5pc": (
        width: 2.5%
    ),
    "w5pc": (
        width: 5%
    ),
    "w10pc": (
        width: 10%
    ),
    "w15pc": (
        width: 15%
    ),
    "w20pc": (
        width: 20%
    ),
    "w45pc": (
        width: 45%
    )
);

@mixin width-classes {
    @each $key, $val in $widths {
        .#{$key} {
            width: #{map-get($val, width)}
        }
    }
}

@include width-classes();

@media (min-width: 768px) {
    .container {
        flex-direction: row;

        .tree {
            min-width: 150px;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}
