<h1>Database</h1>

<h2>View table data</h2>
<p>
    Click the table name below to view the table's contents.
</p>

<div class="container">
    <div class="tree">
        <mat-tree [dataSource]="dbTables$" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let table">
                <button mat-stroked-button (click)="getData(table.name)">{{table.name}}</button>
                <ng-container *ngIf="enableAdvanced">
                    <button mat-icon-button (click)="dropTable(table.name)" color="warn">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
            </mat-tree-node>
        </mat-tree>
        <button *ngIf="tableData$ | async" (click)="clearData()" mat-flat-button color="warn">
            Clear Data
        </button>
    </div>

    <mat-table #table matSort
        *ngIf="tableData$ | async"
        [dataSource]="tableData$"
        class="mat-elevation-z8"
        (matSortChange)="sortData($event)"
        #tableSort="matSort">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="{{column.columnDef}}" class="{{column.css}}">{{column.header}}</th>
            <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
        </ng-container>

        <ng-container *ngIf="currentTableName !== 'config'" matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="w5pc">Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="delete(row)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <td mat-cell *matCellDef="let i = index" [attr.name]="row[i]" class="cell-class">{{row[i]}}</td>
        </tr>

        <mat-paginator showFirstLastButtons #tablePaginator
            [pageSizeOptions]="[10, 25, 50]"
            aria-label="Select page">
        </mat-paginator>
    </mat-table>
</div>

<ng-container *ngIf="enableAdvanced">
    <h2>SQL</h2>

    <p>
        Use the textarea below to write any SQL statement.
        <strong class="warn">WARNING:</strong> this has no training wheels, so be careful!
    </p>

<ng-container *ngIf="!sql">
    <textarea class="sql" #sql></textarea>
    <button mat-flat-button color="primary" (click)="execSql(sql.value)">Execute SQL</button>
</ng-container>
<ng-container *ngIf="sql">
    <textarea *ngIf="sqlResult$ | async as result;" class="sql" readonly>{{result|json}}</textarea>
    <button mat-flat-button color="primary" (click)="clearSql()">Clear Results</button>
</ng-container>
