<h1>Data Import</h1>

<h2>Import Table Data</h2>
<p>
    Import your VPX data from PBY into the app's database.
    If you have already imported it will update existing records with any
    updates you made in PBY as well as add any new tables you entered.
</p>
<p class="form">
    <button *ngIf="!results"
        mat-flat-button
        color="primary"
        (click)="import()"
    >Import</button>
    <ng-container *ngIf="results">
        <p>{{results}} records imported!</p>
        <button mat-flat-button
            color="primary"
            (click)="clear()"
        >Clear</button>
    </ng-container>
</p>

<h2>Import Spreadsheet Data</h2>
<p>
    Import VPS data into the database. This will allow the app the add some functionality.
</p>
<p class="form">
    <mat-form-field>
        <input type="file" accept=".csv" (change)="fileChanged($event)">
        <mat-label>Select CSV file</mat-label>
        <input matInput type="text" [value]="fileInput?.name">
        <mat-icon matSuffix>cloud_upload</mat-icon>
    </mat-form-field>
    <button
        mat-flat-button
        color="primary"
        [disabled]="!fileInput?.name || incomplete"
        (click)="import('vps')"
    >Import</button>
</p>
<div *ngIf="dbTotal$ | async as total">
    <h3>Processed: {{processed}}/{{total}}</h3>
    <mat-progress-bar mode="determinate" [value]="total | processPercentage:processed"></mat-progress-bar>
    <ng-container *ngIf="dbStatus$ | async | processStatus"></ng-container>
</div>
