<h1>Data Import</h1>

<h2>Import Table Data</h2>
<p>
    Import your VPX data from PBY into the app's database.
    If you have already imported it will update existing records with any
    updates you made in PBY as well as add any new tables you entered.
</p>
<p class="form">
    <button *ngIf="!results"
        mat-flat-button
        color="primary"
        [disabled]="incomplete"
        (click)="import('vpx')"
    >Import</button>
    <ng-container *ngIf="results">
        <p>{{results}} records imported!</p>
        <button mat-flat-button
            color="primary"
            (click)="clear()"
        >Clear</button>
    </ng-container>
</p>

<h2>Import Stats Data</h2>
<p>
    Import your game stats into the app's database.
</p>
<p class="form">
    <button
        mat-flat-button
        color="primary"
        [disabled]="incomplete"
        (click)="import('stats')"
    >Import</button>
</p>
<div [hidden]="!showStats">
    <div *ngIf="dbTotal$ | async as total">
        <h3>Processed: {{processed}}/{{total}}</h3>
        <mat-progress-bar mode="determinate" [value]="total | processPercentage:processed"></mat-progress-bar>
        <ng-container *ngIf="dbStatus$ | async | processStatus"></ng-container>
        <p>
            <button mat-flat-button
                color="primary"
                (click)="clear()"
            >Clear</button>
        </p>
    </div>
</div>

<h2>Import VPS Data</h2>
<p>
    This will allow the app the add some functionality.
</p>
<p class="form">
    <button
        mat-flat-button
        color="primary"
        [disabled]="incomplete"
        (click)="import('vps')"
    >Import</button>
</p>
<div [hidden]="!showVpslookup">
    <div *ngIf="dbTotal$ | async as total">
        <h3>Processed: {{processed}}/{{total}}</h3>
        <mat-progress-bar mode="determinate" [value]="total | processPercentage:processed"></mat-progress-bar>
        <ng-container *ngIf="dbStatus$ | async | processStatus"></ng-container>
        <p>
            <button mat-flat-button
                color="primary"
                (click)="clear()"
            >Clear</button>
        </p>
    </div>
</div>
