<h1>PinballY Database Editor</h1>
<h2>Getting Started</h2>
<p>
    Before you can do anything with this app you will need to setup the configuration.
    At a minimum you need to provide the path to your PBY VPX database XML file.
    You can also provide the path to your VPX table locations if you wish to use the file
    management capabilities of the app.
</p>
<p>
    If you have not done so already, you will want to import your PBY data.
    You will also want to import whenever you add a new table to PBY outside of this app.
</p>
<p>
    Finally, if you alter <em>any data</em> within this app you will want to export to your VPX DB.
    You will also need to restart PBY to pick up any changes you have exported tot he DB.
</p>
<h2>Now What?</h2>
<p>
    You can go to your games list and select any game. From there you can modify
    the data as you see fit.
</p>
