.details {
    mat-card {
        margin-bottom: 30px;
        position: relative;
    }

    mat-form-field {
        width: 100%;
    }

    .corner {
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;

        p {
            margin: 10px 5px 0 0;
        }
    }

    .button {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
