<h1>Table Details</h1>

<ng-container *ngFor="let table of table$ | async">
    <form #tableForm="ngForm" class="details" (ngSubmit)="submit(table)">
        <mat-card>
            <mat-card-title>{{table.description}}</mat-card-title>
            <mat-card-subtitle>{{table.manufacturer}} {{table.year}}</mat-card-subtitle>
            <mat-card-content>
                <p>
                    <span>File:</span> {{table.name}}
                </p>
                <div class="corner">
                    <star-rating
                        [hoverEnabled]="true"
                        [starType]="'svg'"
                        [rating]="table.rating"
                        (ratingChange)="change($event, table)"></star-rating>
                    <p>
                        <a href="https://www.ipdb.org/machine.cgi?id={{table.ipdbid}}">IPDB</a>
                    </p>
                </div>
        </mat-card-content>
        </mat-card>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput type="text" [(ngModel)]="table.type" name="type"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>ROM</mat-label>
                <input matInput type="text" [(ngModel)]="table.rom" name="rom"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>B2S</mat-label>
                <input matInput type="number" [(ngModel)]="table.b2s" name="b2s"/>
            </mat-form-field>
        </p>
        <p class="col-2">
            <mat-form-field appearance="fill">
                <mat-label>VPSID</mat-label>
                <input matInput type="text" [(ngModel)]="table.vpsid" name="vpsid"/>
            </mat-form-field>
            <button mat-flat-button color="accent" type="button" (click)="lookup(table.vpsid)">Lookup</button>
        </p>
        <p>
            <mat-checkbox [(ngModel)]="table.haspup" name="haspup">Has PuP Pack?</mat-checkbox>
        </p>
        <p class="button">
            <button mat-flat-button color="primary" type="submit">Update</button>
            <button mat-flat-button color="warn" type="reset" [routerLink]="['/table']">Cancel</button>
        </p>
    </form>
</ng-container>
