<h1>Table Details</h1>

<ng-container *ngFor="let table of table$ | async">
    <form #tableForm="ngForm" class="details" (ngSubmit)="submit(table)" *ngIf="!result">
        <h2>{{table.description}}</h2>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>File</mat-label>
                <input matInput type="text" [value]="table.name"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Manufacturer</mat-label>
                <input matInput type="text" [value]="table.manufacturer"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <input matInput type="number" [value]="table.year"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput type="text" [value]="table.type"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>ROM</mat-label>
                <input matInput type="text" [value]="table.rom"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Rating</mat-label>
                <input matInput type="number" [value]="table.rating"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>B2S</mat-label>
                <input matInput type="number" [value]="table.b2s" [(ngModel)]="table.b2s"/>
            </mat-form-field>
        </p>
        <p>
            <mat-checkbox [(ngModel)]="table.haspup">Has PuP Pack?</mat-checkbox>
        </p>
        <p>
            <button mat-flat-button color="primary">Update</button>
        </p>
    </form>
    <ng-container *ngIf="result">
        <pre>{{result|json}}</pre>
        <button (click)="clear()">Clear</button>
    </ng-container>
</ng-container>
